.dftLowongan {
  text-align: center;
  font-family: arial;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 8px;
  margin-right: 8px;
}
.dftLowongan img {
  height: 200px;
  object-fit: contain;
}
.Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

.bodyLow {
  border-top: 1px solid gray;
}


.min {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.min:active, .min:hover {
  color: white;
}
